<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Event</title>
</head>
<body>
    <h1>Edit Event</h1>
    <form action="/on_edit/{{event_data['id_event']}}", method="POST">
        <textarea name="event_edit" cols="30" rows="8">{{event_data['content']}}</textarea>
        <input type="submit" value="update">
    </form>
</body>
</html>